body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-gray: #2b2828;
  --color-indianred: #aa4545;
  --color-lightgray: #d1caca;
  --color-rosybrown: #ab6565;
  --color-white: #fff;

  /* Gap */
  --gap-16: 16px;
  --gap-20: 20px;

  /* Padding */
  --padding-0: 0px;
  --padding-20: 20px;
  --padding-30: 30px;
  --padding-36: 36px;
  --padding-72: 72px;

  /* Font */
  --font-inter: Inter;

  /* FontSize */
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-30: 30px;
  --fs-43: 43px;

  /* Shadows */
  --text-shadow-1: 0.6px 0 0 var(--color-black), 0 0.6px 0 var(--color-black),
    -0.6px 0 0 var(--color-black), 0 -0.6px 0 var(--color-black);

  /* WidthHeights */
  --height-22: 22px;

  --left-0: 0px;
  --top-0: 0px;
}
